{
  "**/*.ts": ["prettier --write", "eslint --fix"],
  "**/*.vue": ["prettier --write", "eslint --fix", "stylelint --fix"],
  "**/*.scss": ["prettier --write", "stylelint --fix"],
  "**/*.(md|json)": "prettier --write"
}
